:root {
    --link-color: #000066;
    --link-decoration: underline;
    --main-color: black;
    --half-faded-color: #888888;
    --some-faded-color: #666666;
    --highlight-color: #993333;
    --full-color-border: black;
    --mid-color-border: #999999;
    --mostlyfull-color-border: #666666;
    --embiggen-background: #bbbbbb;
    --tooltip-background: #ffff66;
    --tooltip-border: #0000ff;
    --tooltip-color: black;
    --good-color: #00c000;
    --bad-color: #c00000;
    --stack-color: #800080;
    --stack-bg: #ffeeff;
    --indiv-bg: #eeffee;
    --warning-color: #c06040;
}

body { color: var(--main-color) }
a { color: var(--link-color); text-decoration: var(--link-decoration); }

.link { color: var(--link-color); text-decoration: var(--link-decoration); cursor: pointer; }
.center { text-align: center; }
.warn { font-weight: bold; font-style: italic; color: var(--warning-color) }
.bold { font-weight: bold; }
.aligntop { vertical-align: top; }

li.spaced { margin-bottom: 0.5ex }

table { border: 2px solid var(--full-color-border); border-spacing: 2px }
table th { border-bottom: 2px solid var(--full-color-border); font-weight: bold }
table td { border-bottom: 2px solid var(--half-faded-color);
           border-spacing: 2px;
           padding: 2px;
           padding-left: 0.5ex;
           padding-right: 0.5ex; }

div.spacebox { justify-content: space-between; }

dialog { margin: 4em }

div.hbox { display: flex;
           flex-direction: row;
           min-width: 0;
           min-height: 0;
           margin-top: 0.5ex;
           margin-bottom: 0.5ex;
         }
div.vbox { display: flex;
           flex-direction: column;
           min-width: 0;
           min-height: 0; }
div.nofill { align-items: flex-start }
div.bordermarginpad { border: 2px solid var(--full-color-border);
                      margin: 1ex;
                      padding: 1ex; }


table.rkauth_login_table { border: none; }
table.rkauth_login_table th { font-weight: bold; border: none }
table.rkauth_login_table td { padding: 2px; padding-left: 0.5ex; padding-right: 0.5ex; border: none }

div.loggedin { font-size: 80%;
               font-style: italic;
               color: var(--some-faded-color);
             }

div.ltcvplot_collection {
    display: flex;
    flex-direction: column;
}

div.ltcvplot_row {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: row;
}

div.ltcvplot {
    flex: 1 1 50%;
    min-width: 200px;
    border: 2px solid var(--half-faded-color);
    padding: 1ex;
    margin: 1ex;
}

div.ltcvplot_sidebar {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    min-width: 200px;
    border: 2px solid var(--half-faded-color);
    padding: 1ex;
    margin: 1ex;
}

div.saltparamdiv {
    flex: 1 1 auto;
    min-height: 0;
    border: 2px solid var(--most-faded-color);
    padding: 0.25ex;
    margin: 0.25ex;
}

div.pointinfodiv {
    flex: 1 1 auto;
    min-height: 0;
    border: 2px solid var(--most-faded-color);
    padding: 0.25ex;
    margin: 0.25ex;
}

div.pointclips {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.belowclips {
    flex: 1 1 auto;
    min-height: 0;
}

div.oneclipmeta {
    flex: 0 0 auto;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0.5ex;
    margin-top: 1em;
}

div.oneclipmeta h3 {
    border: 0;
    padding: 0;
    margin: 0;
}

div.oneclip {
    position: relative;
    display: block;
    padding: 0.25ex;
    margin: 0.25ex;
    border: 2px solid var(--half-faded-color );
}

div.oneclipwrapper {
    position: relative;
    display: block;
    width: 153px;
    height: 153px;
}

div.oneclipwrapper img {
    image-rendering: optimizeSpeed;
    position: absolute;
    top: 0;
    left: 0;
    width: 153px;
    height: 153px;
}

div.oneclipwrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 153px;
    height: 153px;
}
